<!DOCTYPE html>
<html>
<head>
    <title>Energy Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/style.css?v=2">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body id="dashboard">

<h1 class="main-title">⚡ Smart Energy Management System</h1>

<div class="main-container">

    <!-- TOP BAR -->
    <div class="topbar">
        <h2>Energy Dashboard</h2>
        <div>
            <span id="welcomeUser"></span>
            <button onclick="logout()">Logout</button>
        </div>
    </div>

    <!-- SUMMARY -->
    <div class="flex">
        <div class="card">
            <h3><i class="fas fa-bolt"></i> Daily Energy</h3>
            <p id="dailyEnergy">0</p>
        </div>

        <div class="card">
            <h3><i class="fas fa-rupee-sign"></i> Monthly Bill</h3>
            <p id="bill">0</p>
        </div>
    </div>

    <hr>

    <!-- ADD APPLIANCE -->
    <h2 class="section-title">Add Appliance</h2>

    <div class="input-group">
        <input id="a_name" placeholder="Name (AC, Fan)">
        <input id="a_power" placeholder="Power (W)">
        <input id="a_hours" placeholder="Hours/Day">
        <button onclick="addAppliance()">Add Appliance</button>
    </div>

    <hr>

    <!-- CHARTS -->
    <div class="flex">
        <div class="card canvas-container">
            <h3><i class="fas fa-chart-bar"></i> Energy by Appliance</h3>
            <canvas id="barChart"></canvas>
        </div>

        <div class="card canvas-container">
            <h3><i class="fas fa-chart-pie"></i> Distribution</h3>
            <canvas id="pieChart"></canvas>
        </div>
    </div>

    <hr>

    <!-- TIPS -->
    <h2 class="section-title">Recommendations</h2>
    <ul id="tips"></ul>


  <hr>

    <h2>🤖 Smart Energy Assistant</h2>

    <div class="card" style="width:400px; margin:auto;">
        
        <div id="chatBox" style="height:200px; overflow-y:auto; text-align:left;"></div>

        <input id="chatInput" placeholder="Ask something...">
        <button onclick="sendMessage()">Send</button>

    </div>


</div>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="/static/script.js?v=2"></script>
</body>
</html>